.backround{
	width: 100%;
	position: relative;
	
}
.earth{
	width: 65px;
	position: absolute;
	bottom: 150px;
	right: 140px;
	transform: translate(-50%, -50%);
	animation: earth 30s linear infinite alternate;

}



.jupiter{
	width: 65px;
	position: absolute;
	bottom: 10px;
	left: 600px;
	transform: translate(-50%, -50%);
	animation: jupiter 30s linear infinite alternate;
}



.photo1{
	width: 63px;
	position: absolute;
    bottom: -50px;
	right: 400px;
	transform: translate(-50%, -50%);
	animation: photo1 30s linear infinite alternate;
}


.neptune{
	width: 65px;
	position: absolute;
	bottom: -90px;
	left: 300px;
	transform: translate(-50%, -50%);
	animation: neptune 30s linear infinite alternate;

}

@keyframes earth {
  0%   {bottom: 150px; right: 140px; transform: rotate(30deg);}
  15%  {bottom: 200px; right: 190px; transform: rotate(60deg);}
  30%  {bottom: 250px; right: 240px; transform: rotate(90deg);}
  45%  {bottom: 300px; right: 290px; transform: rotate(120deg);}
  60%  {bottom: 350px; right: 340px; transform: rotate(150deg);}
  75%  {bottom: 400px; right: 390px; transform: rotate(180deg);}
  80%  {bottom: 450px; right: 440px; transform: rotate(360deg);}
  100% {bottom: 150px; right: 140px; transform: rotate(0deg);}
}



@keyframes jupiter{

  0%{bottom: 10px; left: 600px; transform: rotate(30deg);}
  15%{bottom: 20px; left: 650px; transform: rotate(60deg);}
  30%{bottom: 30px; left: 700px; transform: rotate(90deg);}
  45%{bottom: 40px; left: 750px; transform: rotate(120deg);}
  60%{bottom: 50px; left: 800px; transform: rotate(150deg);}
  75%{bottom: 60px; left: 850px; transform: rotate(180deg);}
  80%{bottom: 70px; left: 900px; transform: rotate(360deg);}
  100%{bottom: 10px; left: 600px; transform: rotate(0deg);}

}


@keyframes photo1{

	0%{bottom: -50px; left: 400px; transform: rotate(30deg);}
	15%{bottom: 100px; left: 500px; transform: rotate(60deg);}
	30%{bottom: 150px; left: 600px; transform: rotate(90deg);}
	45%{bottom: 200px; left: 700px; transform: rotate(120deg);}
	60%{bottom: 250px; left: 800px; transform: rotate(150deg);}
	75%{bottom: 300px; left: 900px; transform: rotate(180deg);}
	80%{bottom: 350px; left: 1000px; transform: rotate(360deg);}
	100%{bottom: 400px; left: 1100px; transform: rotate(0deg);}


}

@keyframes neptune{
	from {bottom: -90px; left: 300px; transform: rotate(360deg);}
	to{bottom: 0; left: 0px; transform: rotate(0deg) ;}
}








